* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  margin: 20px auto;
  height: auto;
  padding: 2rem 2rem;
  width: 50%;
  background-image: linear-gradient(
    to right,
    #ff5200,
    #f26522
  );
}
.formOuterBody{
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  background-color:#f1f1f1;
}

.mainSection {
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 2rem;
}
.heading {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
.inputFields {
  margin: 0 0 1rem 0;
}
.inputFieldsForDateAndBtn {
  margin-top: 1rem;
}
@media (max-width: 900px) {
  .form {
    width: 80%;
  }
  .inputFieldsForDateAndBtn {
    margin-left: -1rem !important;
    width: 100%;
  }
}
@media (max-width: 610px) {
  .form {
    width: 90%;
  }
}
@media (max-width: 512px) {
  .form {
    width: 93%;
  }
  .inputField {
    width: 50%;
  }
}
@media (max-width: 1400px) {
  .inputFields{
    flex-direction: column;
    width:95%;
    margin:auto;
  }
}
@media (max-width: 567px) {
  .inputField{
    width: 92% !important;
  }
}
.errorForumber{
  bottom:-32px;
}
@media (max-width: 550px) {
  .errorForumber{
    bottom:-40px;
  }
  .inputField{
    margin-bottom: 20px;
    width: 250px;
  }
  
}
