*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    width:100vw;
    height:auto;
    padding: 7px 0;
    background-color: #212529;
    display:flex;
}
.main_footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    /* justify-content: center; */
    position:relative;
}
.first_part{
    position:relative;
    top:0;
    left:0;
    padding:20px 0px;
    display:flex;
    width:90%;
    justify-content: center;
    margin-right:100px;
}
.social{
    display:flex;
    flex-direction:column;
    margin:0px 55px;
}
.second_head{
margin:6px 10px;
margin-left:80px;
}
.stick{
margin:6px 10px;
}
.copy{
margin:20px 10px;
}
.second_part{
    display:flex;
    justify-content: center;
    align-items: center;
}
.middlePart{
    padding:0.6px 0;
    opacity:0.6;
    width:80%;
    margin:10px 0;
    background-color:white;
}