*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    padding: 7px 0;
    background-color: #212529;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.first_part{
    padding-top: 20px;
}
.social{
    display:flex;
    flex-direction:column;
}
.second_head{
    margin:6px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.stick{
    margin:6px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.copy{
    margin:20px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.middlePart{
    padding:0.6px 0;
    opacity:0.6;
    width:80%;
    margin:10px 0;
    background-color:white;
}