*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.mkresp{
  width: 100%;
  
}
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
  top: 50%;
  left:0%;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
       bottom:0%;
       left: 0%;
        font-size: 22px;
    }
}
#heroSection {
  display: grid;
  place-items: center;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.whiteText {
  color: #ffffff;
}
.showOnMobile
{
  display: none;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}
.paraStyle{
  padding: 0px 15px;
}
.centerText {
  text-align: center;
}

#aboutSection {
  /* background-color: #115293; */
  /* background-color: #f26522; */
  background-color: #e7e7e7;
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  grid-gap:15px ;
  

}

.cJeRRR {
	box-sizing: border-box;
	padding: 0;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
	border: none;
	margin: 5px;
  background-color: #f26522 !important;
	font-size: 1.3em;
	content: "";
	height: 10px;
	width: 10px;
	box-shadow: 0 0 1px 3px  #f26522 !important;
	border-radius: 50%;
	outline: none;
}

.addMarginTop {
  margin-top: 40px;
}
#CardCarousel {
  width: 100%;
}
.fixLinks
{
  text-decoration: none;
  color: black;
}
.img-fluid
{
  height: 80%;
  display: block;
  width: 100%;
min-width: 400px;
}
.aboutText
  {
   font-size: 48px !important;
   text-align: center;
   margin-bottom: 20px;
  }
@media (max-width:800px) {
  .aboutText
  {
   font-size: 45px !important;
   text-align: center;
   margin-bottom: 20px;
  }
  .img-fluid
  {
    margin-top: 0;
    height: 80%;
    display: block;
    width: 80%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
 .grid
 {
   grid-template-columns: 1fr;
 
  
   align-items: center;
  justify-content: center;
 }
  .hideOnMobile {
    display: none;
  }
  .showOnMobile
{
  display: block;
}
}
.cJeRRR {
  box-sizing: border-box;
  padding: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: none;
  margin: 5px;
  background-color: #f26522;
  font-size: 1.3em;
  content: "";
  height: 10px;
  width: 10px;
  box-shadow: 0 0 1px 3px #f26522;
  border-radius: 50%;
  outline: none;
}