body{
    display:flex;
    flex-direction:column;
    height: 100%!important;
    overflow-x: hidden;
}
.footer{
    margin:15px 0 0 0;
    padding:7px 0;
    height:auto;
    background-color: #3f51b5;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.pageLinks{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:75%;
}
.pageLinks a{
    color: #fff;
    font-size:17.5px;
    text-decoration:none;
}
.socialHandles{
    width:25%;
}
.firstPart,.secondPart{
    display:flex;
    justify-content: center;
}
.logo{
    margin:5px 15px;
    color:#fff;
}