 /* @media(max-width:1137px)
{
    .orderPageResponsive{
        width:80%!important;
    }
}
@media(max-width:924px)
{
    .orderPageResponsive{
        margin:40px auto!important;
    }
    .orderImage{
        width:40%!important;
    }
}
@media(max-width:578px)
{
    .orderPageResponsive{
        width: 90%!important;
    }
} */
